{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
    <link rel="stylesheet" href="{% static 'css/styles_article_list.css' %}">
</head>
<body>
    <h2>Articles</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>title</th>
            </tr>
        </thead>
        <tbody>
            {% for a in article %}
            <tr>
                <td>{{ a.id }}</td>
                <td><a href="{% url 'article_detail' pk=a.id %}">{{ a.title }}</a></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No articles found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>